<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen de Informática</title>
  <link rel="stylesheet" href="statics/styles.css">
  <script src="js/examen.js" defer></script>
</head>
<body>

  <h1>Examen Básico de Informática</h1>

  <img src="images/examen.jpg" alt="Examen" class="img-form">

  <form id="formExamen" class="formulario">
    
    <label>1) ¿Qué significa CPU?</label>
    <input type="text" id="p1">

    <label>2) ¿Qué es un sistema operativo?</label>
    <input type="text" id="p2">

    <label>3) ¿Qué es un archivo .exe?</label>
    <input type="text" id="p3">

    <button type="submit" class="btn">Enviar Examen</button>
  </form>

</body>
</html>
