
body {
    background: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}


.btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 15px;
    background: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background: #ff8c00;
    transform: scale(1.1);
}


.formulario {
    width: 350px;
    margin: 20px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.formulario label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formulario input, .formulario select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    background: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 6px;
}

.img-form {
    width: 220px;
    margin-bottom: 15px;
    border-radius: 10px;
    opacity: 0.9;
    transition: 0.3s;
}

.img-form:hover {
    opacity: 1;
    transform: scale(1.05);
}
